*{
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}

.wrapper{
    display: inline-block;
    padding: 90px 12%;

}

h1{
    margin-top: 16vw;
    font-size: 120px;
    width: 511px;
    line-height: 92px;
    letter-spacing: 1px;
    background-image: linear-gradient(to right, #000000, #651080);
    color: black;
    background-clip: text;
    -webkit-text-fill-clip: text;
    -webkit-text-fill-color: transparent;

}

.logo-image{
    width: 16vw;
}



.container-right{
    position: absolute;
    right: 0;
    display: inline-block;
    width: 60%;
    height: 100vh;
}

.group5{
    width: 100%;
}